@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Wypożyczalnia rowerów</h1>
    <h2 class="display-5">Posiadamy w swojej ofercie rowery górskie oraz miejskie</h2>
    <h4 class="display-10">Zarezerwuj rower dla siebie już dziś!</h4>

</div>
